/externalizar/vector dinamico/JavaApplication8/nbproject/private/
/externalizar/vector dinamico/vectordinamico/nbproject/private/
/externalizar/vector dinamico/vectordinamico/build/
/externalizar/vector dinamico/operadoresbinarios/nbproject/private/
/externalizar/vector dinamico/operadoresbinarios/build/
